# Dependency Directories:
document-management-system/node_modules

# User Uploaded Files
document-management-system/uploads


# Ignore .env
.env

# Environments
.venv
venv/
.env

# idea directory
.idea/

