# Dependency Directories:
document-management-system/node_modules

# User Uploaded Files
document-management-system/uploads


# Ignore .env
.env

# Environments
.venv
venv/

# idea directory
.idea/

# Ignore Production Databases
*.db

